# Streamlit web interface
langchain
langchain-community
langchain-core
langgraph
langchain-ollama
langchain-huggingface
PyMuPDF
pypdf
python-docx
chromadb
sentence-transformers
pydantic
typing-extensions

numpy
requests
tiktoken
tokenizers

langsmith
langchain-text-splitters

transformers
torch
tqdm
fastapi
uvicorn
pandas
python-jose
pydantic
pytz
typing-extensions
python-multipart
httpx
pydantic_settings
psycopg2
aiofiles
Pillow
 